section {
  position: relative;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: left;
}

body {
  margin: 0;
  padding-top: 100px;
  background: #ffffff;
  color: black;
  font-family: "Raleway", sans-serif;
}
.checklist{
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: black;
}
#price{
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: black;
}

.container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: max-content;
  width: 100%;
}

.hotel {
  text-align: left;
}
p {
  font-size: 13px;
  margin-bottom: 0;
}
h3 {
    font-size: 18px;
    font-weight: bold;
  }

h4 {
  font-size: 16px;
  font-weight: bold;
}
h5 {
  font-size: 14px;
  font-weight: bold;
}

#location {
  margin-top: 2vh;
}

#rate {
  margin-top: 2vh;
  display: flex;
  align-items: center;
}

#facility {
  margin-top: 2vh;
}

.dot {
  width: 4px; /* Adjust size as needed */
  height: 4px; /* Adjust size as needed */
  background-color: black;
  border-radius: 50%;
  margin: 0 5px; /* Adjust margin as needed */
}


.square {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  background-color: darkblue;
  color: white;
  font-size: 14px; /* Adjust font size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#facility {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px; /* Adjust gap between columns */
}

#facility p {
  flex-basis: calc(50% - 10px); /* Adjust width of each item */
  margin-bottom: 10px; /* Adjust margin between items */
}

#facility p i {
  margin-right: 5px; /* Adjust icon spacing as needed */
}

.hotel {
  /* width: 330px; */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.bookDetail {
  margin-top: 20px;
  /* width: 120%; */
  /* width: 330px; */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.price {
  margin-top: 20px;
  /* width: 330px; */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.price .col-6.kanan{
    text-align: right;
}

#totalHarga{
    background-color: rgb(205, 232, 254);
    padding: 2vh;
}
#rincian{
    padding-bottom: 2vh;
}
#priceInfo{
    margin-top: 1vh;
}




.bookForm {
    /* width: 530px; */
    /* margin-top: 20px; */
    border: 1px solid #95c7f3;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
  }

  
.asterisk {
    color: red;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    display: flex;
    align-items: center;
  }

  .select2-container--default .select2-results__option {
    display: flex;
    align-items: center;
  }

  .select2-container--default .select2-results__option img {
    margin-right: 10px;
  }
  

@media screen and (max-width: 720px) {
  /* .col-6.kanan,
  .col-6.kiri {
    width: 100%;
  }
   */

   .bookForm{
    margin-top: 20px;
   }
}

